%div{ class: "max-w-4xl mx-auto px-6 py-10 text-stone-900" }

  %h1{ class: "text-2xl font-semibold mb-6" }

  - team_name = @team&.name || "Team"
  - opp_name  = @game&.team&.name || "Opponent"
  - date_str  = @game&.date || ""

  - if @game.present?
    = link_to "Lineup for #{team_name} vs. #{opp_name} - #{date_str}", game_path(@game), class: 'underline'
  - else
    %span Lineup

  %ul{ id: "batting-order", data: { controller: "lineup", lineup_url: game_lineup_path(@game) }, class: "space-y-3" }

    - @lineup.lineup_slots.each do |slot|
      %li{ data: { player_id: slot.player.id }, class: "border p-4 bg-white cursor-move flex justify-between items-center" }

        %div
          %strong= slot.player.name
          %span{ class: "text-sm text-stone-500 ml-2" }= slot.field_position&.humanize || "Extra Hitter"

        %div
          = select_tag "", options_for_select([["Extra Hitter", ""]] + LineupSlot.field_positions.keys.map { |p| [p.humanize, p] }, slot.field_position), data: { action: "change->lineup#updatePosition", player_id: slot.player.id }, class: "border p-1 text-sm"
